.red {
    color:red;
  }
  .blue {
    color:blue;
  }
  .yellow {
      color: yellow;
  }
  .purple {
    color: purple;
}
.green {
    color: green;
}
.orange {
    color: orange;
}
.cyan {
  color: cyan;
}